<h1>Listing contacts for <%= @client.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
  </tr>
<% end %>
</table>

<br />
